<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sophie Boutique</title>
    <link rel="icon" href="Public/Img/corazon.png" type="img/png">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--estilos-->
    <link rel="stylesheet" href="../CSS/style.css">
    
</head>
<body>
<!--HEADER-->
<header>
  <nav class="navbarsuperior">
        <input class="buscador" type="search" placeholder="Buscar">
        <div class="micuentamicarrito">
          <ul>
            <li><a href="iniciarsesion.html">
              <img src="../Img/cuenta.png" alt="Mi cuenta">
            </a></li>
            <li><a href="micarrito.html">
              <img src="../Img/carrito-de-compras.png" alt="Mi carrito">
            </a></li>
          </ul>
              
      </div>
    </nav>
      <h1>Sophie Boutique</h1>
    
    </header>
  
<!--NAVBAR-->
<nav class="navbar-flex">
  <ul class="menudenavegacion">
    <li><a href="../../index.html">INICIO</a></li>
    <li>
      <a href="#">PRODUCTOS</a>
      <ul  class="menudeproductos">
        <li> <a href="#">Bijou</a></li>
        <li> <a href="textil.html">Textil</a></li>
        <li> <a href="complementos.html">Complementos</a></li>
      </ul>
    </li>
    <li><a href="comocomprar.html">CÓMO COMPRAR</a></li>
    <li><a href="quienessomos.html">QUIÉNES SOMOS</a></li>
    <li><a href="contacto.html">CONTACTO</a></li>
  </ul>
</nav>

<!--PRODUCTOS:BIJOU-->
<div class="bijou">

      <div class="art-textil">
        <img src="../Img/aroscorazon1.webp" class="card-img-top" alt="Set de argollas de corazón">
        <div class="card-body">
          <h5>Set de argollas de corazón</h5>
          <p>$6.500</p>
        </div>
        <div class="card-body">
          <a href="https://api.whatsapp.com/send?phone=5491140618862&text=Hola%20me%20interesa%20comprar%20un%20producto"   target="_blank" class="card-link">Comprar</a>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

      <div class="art-textil">
        <img src="../Img/collarsijecruz1.webp" class="card-img-top" alt="collar con dije cruz">
        <div class="card-body">
          <h5>Collar con dije cruz</h5>
          <p>$6.500</p>
        </div>
        <div class="card-body">
          <a href="https://api.whatsapp.com/send?phone=5491140618862&text=Hola%20me%20interesa%20comprar%20un%20producto"   target="_blank" class="card-link">Comprar</a>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>
      <div class="art-textil">
        <img src="../Img/argollaconstrass1.webp" class="card-img-top" alt="Argollas con strass">
        <div class="card-body">
          <h5>Argollas con strass</h5>
          <p>$6.500</p>
        </div>
        <div class="card-body">
          <a href="https://api.whatsapp.com/send?phone=5491140618862&text=Hola%20me%20interesa%20comprar%20un%20producto"   target="_blank" class="card-link">Comprar</a>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

      <div class="art-textil">
        <img src="../Img/pulseracorazon1.webp" class="card-img-top" alt="Pulsera con dije corazon">
        <div class="card-body">
          <h5>Pulsera con dije de corazón</h5>
          <p>$3.900</p>
        </div>
        <div class="card-body">
          <a href="https://api.whatsapp.com/send?phone=5491140618862&text=Hola%20me%20interesa%20comprar%20un%20producto"   target="_blank"class="card-link">Comprar</a>
          <a href="#" class="card-link">Ver</a>
        </div>

      </div>
      <div class="art-textil">
        <img src="../Img/cadenacortalibelula1.webp" class="card-img-top" alt="Cadena corta dije libélula">
        <div class="card-body">
          <h5>Cadena corta dije libélula</h5>
          <p>$4.900</p>
        </div>
        <div class="card-body">
          <a href="https://api.whatsapp.com/send?phone=5491140618862&text=Hola%20me%20interesa%20comprar%20un%20producto"   target="_blank" class="card-link">Comprar</a>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

      <div class="art-textil">
        <img src="../Img/set de pulseras1.webp" class="card-img-top" alt="Set de pulseras flexibles">
        <div class="card-body">
          <h5>Set de pulseras flexibles</h5>
          <p>$3.700</p>
        </div>
        <div class="card-body">
          <a href="https://api.whatsapp.com/send?phone=5491140618862&text=Hola%20me%20interesa%20comprar%20un%20producto"   target="_blank"class="card-link">Comprar</a>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

      <div class="art-textil">
        <img src="../Img/setdeanillosmetalicos1.webp" class="card-img-top" alt="Set de anillos metálicos">
        <div class="card-body">
          <h5>Set de anillos metálicos</h5>
          <p>$6.200</p>
        </div>
        <div class="card-body">
          <a href="https://api.whatsapp.com/send?phone=5491140618862&text=Hola%20me%20interesa%20comprar%20un%20producto"   target="_blank" class="card-link">Comprar</a>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

      
    <div class="art-textil">
      <img src="../Img/setdeanillosdorado1.webp" class="card-img-top" alt="Set de anillos metal sunlight">
      <div class="card-body">
        <h5>Set de anillos metal sunlight</h5>
        <p>$9.900</p>
      </div>
      <div class="card-body">
        <a href="https://api.whatsapp.com/send?phone=5491140618862&text=Hola%20me%20interesa%20comprar%20un%20producto"   target="_blank" class="card-link">Comprar</a>
        <a href="#" class="card-link">Ver</a>
      </div>
    </div>

</div>




 <!--FOOTER-->
<footer>
    <p>&copy; Karina Garnica 2024</p>
</footer>   

<!--bootstrap-->    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>