<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sophie Boutique</title>
    <link rel="icon" href="../Img/corazon.png" type="img/png">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--estilos-->
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
 <!--HEADER-->
 <header>
    <nav class="navbarsuperior">
          <input class="buscador" type="search" placeholder="Buscar">
          <div class="micuentamicarrito">
            <ul>
              <li><a href="iniciarsesion.html">
                <img src="../Img/cuenta.png" alt="Mi cuenta">
              </a></li>
              <li><a href="micarrito.html">
                <img src="../Img/carrito-de-compras.png" alt="Mi carrito">
              </a></li>
            </ul>
                
        </div>
      </nav>
        <h1>Sophie Boutique</h1>
      
      </header>
    
  <!--NAVBAR-->
  <nav class="navbar-flex">
    <ul class="menudenavegacion">
      <li><a href="../../index.html">INICIO</a></li>
      <li>
        <a href="#">PRODUCTOS</a>
        <ul  class="menudeproductos">
          <li> <a href="bijou.html">Bijou</a></li>
          <li> <a href="textil.html">Textil</a></li>
          <li> <a href="complementos.html">Complementos</a></li>
        </ul>
      </li>
      <li><a href="#">CÓMO COMPRAR</a></li>
      <li><a href="quienessomos.html">QUIÉNES SOMOS</a></li>
      <li><a href="contacto.html">CONTACTO</a></li>
    </ul>
  </nav>

 <!--CÓMO COMPRAR-->
<div class="comocomprar">
    <h3>Cómo comprar un producto de Sophie Boutique de manera fácil… </h3>
    <p>
         <ol>
            <li>Si todavia no te registraste: crea una cuenta haciendo clic en <b>"Crear Cuenta"</b>.</li>
            <li>Si ya estas registrado: incia sesión con tu <b>Usuario y Contraseña</b>.</li>
            <li>Hace clic en la pestaña <b>¨Productos¨</b>.</li>
            <li>Elegí el producto que deseas comprar y hace clic en <b>¨Agregar al carrito¨</b>.  Podes <b>¨Seguir comprando¨</b>, agregando productos al carrito de compras.</li>
            <li>Una vez finalizado el paso 4, colocá el <b>código postal correspondiente</b>.</li>
            <li>Seleccioná el <b>¨Método de envío¨</b>
                <ol type="a">
                    <li><b>CABA</b>:
                        - Moto Mensajeria: $1300. Se coordina con 24/48hs de anticipacion.  
                        - PUDO: Smart Lockers en diferentes zonas.</li>
                    <li><b>GBA/INTERIOR DEL PAIS</b>:
                        - Bluemail: Con esta empresa trabajamos para los envios de GBA y del Interior del país. ​
                        - PUDO: Envíos a domicilio en GBA, Cordoba y Neuquén. </li>
                    <li><b>PICK UP POINTS</b>: (Demoran 24/48hs en estar)
                        ​- General Rodriguez: Acevedo 300, GBA. Lunes a Viernes de 10 a 19 hs, Sabado de 10 a 17hs. 
                        
                   </ol>
            
            </li>
            <li>Completa los datos solicitados en el formulario, hace click en <b>¨Continuar¨</b>. </li>
            <li>Elegí el <b>"Medio de pago", hacé click en "Continuar"</b> .
                - <b>MERCADOPAGO</b> tarjetas de debito/credito hasta 3 pagos sin interés. podes abonar en efectivo () o tarjetas de crédito.
                - <b>RapiPago/PagoFacil</b>
                - <b>Efectivo</b>, 20% de descuento (Belgrano o envío a domicilio contraentrega en CABA)
                - <b>Transferencia</b>, 15% de descuento (unicamente compra online)</li>
            <li>Finalmente, hace clic en <b> "Pagar"</b>.</li>
            <li>Listo! ya podras disfrutar de tu Sophie Boutique</li>  


        </ol>
    </p>
</div>

<!--FOOTER-->
<footer>
    <p>&copy; Karina Garnica 2024</p>
    </footer>    
<!--bootstrap-->    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
</body>
</html>