<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sophie Boutique</title>
    <link rel="icon" href="../Img/corazon.png" type="img/png">
    <link rel="stylesheet" href="../CSS/style.css">
</head>
<body>
<!--HEADER-->
<header>
    <nav class="navbarsuperior">
          <input class="buscador" type="search" placeholder="Buscar">
          <div class="micuentamicarrito">
            <ul>
              <li><a href="#">
                <img src="../Img/cuenta.png" alt="Mi cuenta">
              </a></li>
              <li><a href="micarrito.html">
                <img src="../Img/carrito-de-compras.png" alt="Mi carrito">
              </a></li>
            </ul>
                
        </div>
      </nav>
        <h1>Sophie Boutique</h1>
      
      </header>
    
  <!--NAVBAR-->
  <nav class="navbar-flex">
    <ul class="menudenavegacion">
      <li><a href="../../index.html">INICIO</a></li>
      <li>
        <a href="#">PRODUCTOS</a>
        <ul  class="menudeproductos">
          <li> <a href="bijou.html">Bijou</a></li>
          <li> <a href="textil.html">Textil</a></li>
          <li> <a href="complementos.html">Complementos</a></li>
        </ul>
      </li>
      <li><a href="comocomprar.html">CÓMO COMPRAR</a></li>
      <li><a href="quienessomos.html">QUIÉNES SOMOS</a></li>
      <li><a href="contacto.html">CONTACTO</a></li>
    </ul>
  </nav>
    <!--REGISTRARME-->
    <form class="registrarme" action="">
        <fieldset>
            <legend>REGISTRARME</legend>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre" placeholder="nombre" required>
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" id="apellido" placeholder="apellido" required>
            <label for="fecha">Fecha de nacimiento:</label>
            <input type="date">
            <label for="telefono">Teléfono:</label>
            <input type="number" name="telefono" id="telefono" placeholder="teléfono" required>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="email" required>
            <label for="pass">Contraseña</label>
            <input type="password" name="pass" id="pass" placeholder="contraseña" required>
            
        </fieldset>
        <input class="enviar" type="reset" value="REGISTRARME">

    </form>
    <!--FOOTER-->
<footer>
    <p>&copy; Karina Garnica 2024</p>
</footer>

</body>
</html>