<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sophie Boutique</title>
    <link rel="icon" href="../Img/corazon.png" type="img/png">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--estilos-->
    <link rel="stylesheet" href="../CSS/style.css">
    
</head>
<body>
<!--HEADER-->
<header>
  <nav class="navbarsuperior">
        <input class="buscador" type="search" placeholder="Buscar">
        <div class="micuentamicarrito">
          <ul>
            <li><a href="iniciarsesion.html">
              <img src="../Img/cuenta.png" alt="Mi cuenta">
            </a></li>
            <li><a href="micarrito.html">
              <img src="../Img/carrito-de-compras.png" alt="Mi carrito">
            </a></li>
          </ul>
              
      </div>
    </nav>
      <h1>Sophie Boutique</h1>
    
    </header>
  
<!--NAVBAR-->
<nav class="navbar-flex">
  <ul class="menudenavegacion">
    <li><a href="../../index.html">INICIO</a></li>
    <li>
      <a href="#">PRODUCTOS</a>
      <ul  class="menudeproductos">
        <li> <a href="bijou.html">Bijou</a></li>
        <li> <a href="#">Textil</a></li>
        <li> <a href="complementos.html">Complementos</a></li>
      </ul>
    </li>
    <li><a href="comocomprar.html">CÓMO COMPRAR</a></li>
    <li><a href="quienessomos.html">QUIÉNES SOMOS</a></li>
    <li><a href="contacto.html">CONTACTO</a></li>
  </ul>
</nav>

    <!--PRODUCTOS:TEXTIL-->
<div class="textil">

    <div class="art-textil">
        <img src="../Img/bufanfatejidarosa.webp" class="card-img-top" alt="Bufanda tejida">
        <div class="card-body">
          <h5>Bufanda con textura</h5>
          <p>$17.500</p>
        </div>
        <div class="card-body">
          <a href="https://api.whatsapp.com/send?phone=5491140618862&text=Hola%20me%20interesa%20comprar%20un%20producto"   target="_blank" class="card-link">Comprar</a>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

      <div class="art-textil">
        <img src="../Img/bufandaconflecos1.webp" class="card-img-top" alt="Bufanda con flecos">
        <div class="card-body">
          <h5>Bufanda con flecos</h5>
          <p>$17.500</p>
        </div>
        <div class="card-body">
          <a href="https://api.whatsapp.com/send?phone=5491140618862&text=Hola%20me%20interesa%20comprar%20un%20producto"   target="_blank" class="card-link">Comprar</a>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

      <div class="art-textil">
        <img src="../Img/sombreroclassic1.webp" class="card-img-top" alt="Sombrero classic">
        <div class="card-body">
          <h5>Sombrero classic</h5>
          <p>$15.900</p>
        </div>
        <div class="card-body">
          <a href="https://api.whatsapp.com/send?phone=5491140618862&text=Hola%20me%20interesa%20comprar%20un%20producto"   target="_blank" class="card-link">Comprar</a>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

      <div class="art-textil">
        <img src="../Img/sombreromarron1.webp" class="card-img-top" alt="Sombrero classic marron">
        <div class="card-body">
          <h5>Sombrero classic marron</h5>
          <p>$15.900</p>
        </div>
        <div class="card-body">
          <a href="https://api.whatsapp.com/send?phone=5491140618862&text=Hola%20me%20interesa%20comprar%20un%20producto"   target="_blank" class="card-link">Comprar</a>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

      <div class="art-textil">
        <img src="../Img/gorrotejidoverde1.webp" class="card-img-top" alt="Gorro tejido">
        <div class="card-body">
          <h5>Gorro tejido</h5>
          <p>$6.300</p>
        </div>
        <div class="card-body">
          <a href="https://api.whatsapp.com/send?phone=5491140618862&text=Hola%20me%20interesa%20comprar%20un%20producto"   target="_blank" class="card-link">Comprar</a>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

      <div class="art-textil">
        <img src="../Img/gorrobeige1.webp" class="card-img-top" alt="Gorro con pompón">
        <div class="card-body">
          <h5>Gorro con pompón</h5>
          <p>$8400</p>
        </div>
        <div class="card-body">
          <a href="https://api.whatsapp.com/send?phone=5491140618862&text=Hola%20me%20interesa%20comprar%20un%20producto"   target="_blank" class="card-link">Comprar</a>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

      <div class="art-textil">
        <img src="../Img/gorrorosa.1.webp" class="card-img-top" alt="Gorro con pompón">
        <div class="card-body">
          <h5>Gorro con pompón</h5>
          <p>$8.400</p>
        </div>
        <div class="card-body">
          <a href="https://api.whatsapp.com/send?phone=5491140618862&text=Hola%20me%20interesa%20comprar%20un%20producto"   target="_blank" class="card-link">Comprar</a>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>
      <div class="art-textil">
        <img src="../Img/guantesclassic1.webp" class="card-img-top" alt="Guantes classic">
        <div class="card-body">
          <h5>Guantes classic</h5>
          <p>$6.000</p>
        </div>
        <div class="card-body">
          <a href="https://api.whatsapp.com/send?phone=5491140618862&text=Hola%20me%20interesa%20comprar%20un%20producto"   target="_blank" class="card-link">Comprar</a>
          <a href="#" class="card-link">Ver</a>
        </div>
      </div>

       
</div>

<!--FOOTER-->
<footer>
    <p>&copy; Karina Garnica 2024</p>
</footer>

<!--bootstrap-->    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>